<div class="follow-content">
  <div class="container">
    <% @user.followings.each do |user| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
          <div class="follow-content">
            　  <%= link_to user_path(user)do  %>
                   <% if user.image? %>
                     <%= image_tag user.image.url,class:"follow-image" %>
                   <% else %>
                     <%=image_tag"default.png",class:"follow-image" %>
                   <% end %>
                <% end %>
              </div>
              <div class="box-text">
                <div class="follow-name">
                  <%= user.name %>
                </div>
                <div class="follow-introduction">
                  <%= user.introduction %>
                </div>
              </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
